.container {
  padding: 5rem 1.5rem;
}

.image {
  margin-bottom: 2rem;
}

.heading {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

.mainText {
  color: var(--clr-dark-gray);
  text-align: center;
  font-size: 1.008rem;
}

@media screen and (min-width: 800px) {
  .container {
    display: flex;
    width: 800px;
    margin: auto;
    position: relative;
    padding-inline: 0;
  }
  .image {
    content: url("../../assets/desktop/image-interactive.jpg");
    width: 400px;
  }
  .article {
    position: absolute;
    background-color: var(--clr-white);
    top: 53%;
    left: 69%;
    transform: translate(-50%, -50%);
    width: 490px;
    padding: 3em 0em 0em 3em;
  }
  .heading {
    width: 300px;
    margin-bottom: 2rem;
  }
  .mainText {
    text-align: left;
  }
}
