.container {
  background-color: black;
  color: white;
  padding: 2em 1em;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}

.list_container {
  text-transform: uppercase;
  list-style-type: none;
  font-size: 2rem;
}

.list_container > li {
  margin-bottom: 0.7em;
}
