@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-dark-gray: hsl(0, 0%, 55%);
  --clr-v-dark-gray: hsl(0, 0%, 41%);
}
html {
  font-size: 15px;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

.alata {
  font-family: "Alata", sans-serif;
  font-size: 400;
}

.josefin {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.desktop {
  display: none;
}

@media screen and (min-width: 485px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}
